{% extends 'base.html.twig' %}

{% block title %}Niveaux{% endblock %}

{% block body %}
<br><br>
<div class="container">
    <h1>Niveaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for niveau in niveaux %}
            <tr>
                <td>{{ niveau.id }}</td>
                <td>{{ niveau.Nom }}</td>
                <td>
                    <a href="{{ path('niveau_show', {'id': niveau.id}) }}">show</a>
                    <a href="{{ path('niveau_edit', {'id': niveau.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if  is_granted('ROLE_ADMIN') %}
    <a href="{{ path('niveau_new') }}">Create new</a>
    {% endif %}
    </div>
{% endblock %}
