{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
<br><br>
<div class="container">
    <h1>Cours</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Nom</th>
                <th>Date de dépôt</th>
                <th>PDF</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.Id }}</td>
                <td>{{ cour.Nom }}</td>
                <td>{{ cour.Date ? cour.Date|date('Y-m-d H:i:s') : '' }}</td>
                <td><a href="{{ asset('uploads/brochures/' ~ cour.brochureFileName) }}">{{ cour.Nom }}(PDF)</a>
                </td>
                <td>
                    <a href="{{ path('cours_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cours_new') }}">Create new</a>
    </div>
{% endblock %}
