{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cour.Nom }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ cour.Numero }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ cour.Date ? cour.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cours_index') }}">back to list</a>

    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
